
<h1>Messages left to me</h1>

<ul class="list-group">
    <% @messages.each do |message| %>
       <li class="list-group-item"><%= message.name%> from <%= message.city %> says <%= message.message %>. They live on <%= message.street %> street </li>
    <% end %>

</ul>


