
  
        <div class="row no-gutters">

            <div class="media" id ="welcome">
                <%= image_tag("/images/#{@picture}", class:"align-self-center mr-3") %>
                <div class="media-body">
                    <h5 class="mt-0 text-center">Center-aligned media</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              </div>
            </div>
        </div>

        <div class="row no-gutters" style='margin-top:5%;margin-bottom:5%'>
            <h1 style="padding-left:45%">Skillset</h1>
        </div>

        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Programming languages
                    </button>
                </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="white-space: pre;">
                    I have worked on projects using the following languages: Python, Golang, Javascript, Swift, R, Dart, and SQL.
                    In the classroom, I also worked with C, Java, Scheme, and Haskell.
                    Finally, this website is built with Ruby on Rails as a backed.
                    For more details, see Projects! 
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Frameworks and other tech
                    </button>
                </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body" style="white-space: pre;">
                    I worked with the following frameworks: React.js, Node.js, Django, UIKit, Flutter, Graphql.
                    Besides, I have experience with Postgresql, Mongodb, and Docker.
                    For more details, see Projects!
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Amazon Web Services
                    </button>
                </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body" style="white-space: pre;">
                    I am AWS certified Solutions Architect Associate, which you can verify with XF0YNQ0CD2B113C4 at http://aws.amazon.com/verification.
                    I am a big fan of cloud computing, and I love building infrastructure and deploy my projects at least as much as I love writing code.
                    I have experience working with the following AWS technologies: Lambda, Dynamodb, RDS ,S3, SNS, SQS, API Gateway, Cloudformation, Rekognition.
                </div>
                </div>
            </div>
        </div>




