
  
        <div class="row no-gutters">
            <div class="col-sm-4" id="my_photo">
                <%= image_tag("/images/me.png") %>
            </div>
            <div class="col-sm-8 ">
                <div class="jumbotron jumbotron-fluid">
                        <h1 class="display-4">Bogdan Abaev</h1>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque egestas congue quisque egestas. Integer feugiat scelerisque varius morbi enim nunc. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce. Arcu bibendum at varius vel pharetra. Tristique nulla aliquet enim tortor at auctor urna. Eget gravida cum sociis natoque penatibus et magnis dis parturient. Tellus id interdum velit laoreet id donec. Amet justo donec enim diam vulputate ut. Ornare arcu odio ut sem nulla pharetra. Risus ultricies tristique nulla aliquet enim tortor at auctor.</p>                      
                </div>
            </div>

        </div>

        <div class="row no-gutters" style='margin-top:5%;margin-bottom:5%'>
            <h1 style="padding-left:45%">Skillset</h1>
        </div>

        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Programming languages
                    </button>
                </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body" style="white-space: pre;">
                    I have worked on projects using the following languages: Python, Golang, Javascript, Swift, R, Dart, and SQL.
                    In the classroom, I also worked with C, Java, Scheme, and Haskell.
                    Finally, this website is built with Ruby on Rails as a backed.
                    For more details, see Projects! 
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Frameworks and other tech
                    </button>
                </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body" style="white-space: pre;">
                    I worked with the following frameworks: React.js, Node.js, Django, UIKit, Flutter, Graphql.
                    Besides, I have experience with Postgresql, Mongodb, and Docker.
                    For more details, see Projects!
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Amazon Web Services
                    </button>
                </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body" style="white-space: pre;">
                    I am AWS certified Solutions Architect Associate, which you can verify with XF0YNQ0CD2B113C4 at http://aws.amazon.com/verification.
                    I am a big fan of cloud computing, and I love building infrastructure and deploy my projects at least as much as I love writing code.
                    I have experience working with the following AWS technologies: Lambda, Dynamodb, RDS ,S3, SNS, SQS, API Gateway, Cloudformation, Rekognition.
                </div>
                </div>
            </div>
        </div>




