

    <div class="row no-gutters">

        <div class="media" id ="welcome">
            <%= image_tag("/images/#{@picture}", class:"align-self-center mr-1") %>
            <div class="media-body">
                <h1 class="mb-3 text-center">Bogdan Abaev</h1>
                <p class="ml-5 mb-0 font welcome_par">  Hi, there! I am a Computer Science/Mathematics double major in Grinnell College. Class of May 2020. </p>
                <p class="ml-5 mb-0 font welcome_par">  I am a passionate software engineer, and my particular interests are: working on developing and integrating backend APIs, building cloud architecture on AWS, and deploying code to production.</p>
                <p class="ml-5 mb-0 font welcome_par">  Originally, I am from Nizhny Novgorod, Russia, and when I am not busy coding, I enjoy boxing, hiking, and watching sitcoms from the 90'th.</p>
                <p class="ml-5 mb-0 font">You can find my qualifications below, and check out the projects page for more info!</p>
            </div>
        </div>
    </div>

    <h1 id="title">Skillset</h1>

    <div class="card-deck">
        <div class="card">
            <h5 class="card-header">Programming Languages</h5>
            <div class="card-body">
                <ul>          
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>Golang</li>
                    <li>Swift</li>
                    <li>SQL</li>
                    <li>R</li>
                    <li>Java</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Cloud</h5>
            <div class="card-body">
                <ul> 
                    <li>AWS certified solutions architect associate (go <a href=http://aws.amazon.com/verification>here</a> to verify with XF0YNQ0CD2B113C4)</li>
                    <li>AWS experience: Lambda, Dynamodb, RDS, S3, SNS, SQS, API Gateway, Cloudformation, VPC, Elasticbeanstalk, ECS </li>
                    <li>Genral experience with Google Cloud </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Frameworks and other tech</h5>
            <div class="card-body">
                <ul> 
                    <li>Node.js</li>
                    <li>React.js</li>
                    <li>Django</li>
                    <li>UIKit</li>
                    <li>Flutter</li>
                    <li>Docker</li>
                    <li>Mongodb</li>
                </ul>
            </div>
        </div>
    </div>

    <h1 id="title">Experience</h1>

    <div class="card-deck">
        <div class="card">
            <h5 class="card-header">Research Assistant</h5>
            <div class="card-body">
                <h5 class="card-title">Grinnell College, Summer 2018</h5>
                <p class="card-text">Implemented program synthesis tool to complete metaprogramming tasks. Added support for polymorphic type constructors to a type-directed synthesis language built with Haskell. Worked in a team of 6 students in an agile environment.</p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">React Developer</h5>
            <div class="card-body">
                <h5 class="card-title">Basement Masters</h5>
                <p class="card-text"> Developed static websites for <a href=https://basementremodeling.com>https://basementremodeling.com</a> using React.js and AWS lambda. Worked on integrating Salesforce and GoogleSheets API’s with JotForm API to create custom web forms for interior use by Basement Masters. References available upon request. </p>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">Junior Flutter Developer</h5>
            <div class="card-body">
                <p class="card-text"> Developed Business Logic Components, wrote unit tests and widget tests, integrated firebase authentication and firebase cloud storage on a Flutter application for a fledgling startup. References available upon request.</p>
            </div>
        </div>
    </div>

 






        
