<ul class="list-unstyled" style="margin-top:10%">
  <li class="media">
    <img src="/images/clock.png" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">Alexa time tracker</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img src="/images/grammiegram.png" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">GrammieGram web version</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img src="/images/iosGrammiegram.png" class="mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0 mb-1">iOS Client for GrammieGram</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img src="/images/smsjournal.png" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0 mb-1">SMSJournal</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img src="/images/card.jpg" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0 mb-1">Online multiplayer card game durak</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
  <li class="media">
    <img src="/images/create.png" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0 mb-1">eBay clone</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </li>
</ul>