<div class = "container" style="margin-top:10%">
    <div class="card mb-3">
    <img src="/images/pennapps.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">PennApps XX</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>

    <div class="card mb-3">
    <img src="/images/hackiowa.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Hack U Iowa 2018</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    </div>
    
</div>