<div class = "container">
    <div class="card mb-3">
    <img src="/images/pennapps.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">PennApps XX: Best Use of AWS AI/ML</h5>
        <p class="card-text">In September 2019, I took part in PennApps XX with a friend of mine. We created a security camera which signs every frame of the video, which is streamed to AWS, where the signature is verified and the file 
        is stored for later playback. Finally, we used AWS Rekognition to process the content of the video and search for any violent activity or unauthorized individuals. In case if something suspicious was noticed, our camera sends a text message to 
        the user with a link to a 10-seconds video snippet that shows the suspicious activity. I worked on building the AWS infrastructure with Lambda, Rekognition, SNS, S3, and CloudWatch. See: <a href="https://devpost.com/software/pythia-camera">details</a> </p>  
    </div>
    </div>

    <div class="card mb-3">
    <img src="/images/hackiowa.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Hack U Iowa 2018: Best use of Google Cloud and Best Commercial Potential.</h5>
        <p class="card-text">In october 2018, my team built an email service that searches for non compliat text and promissary language in professional emails.
        If any inconsistency is found, the email is sent back to the sender with remarks on what part of the email was non-compliant. 
        I worked with Google Cloud NLP to analyze the content of emails. See: <a href="https://hackuiowa.hackerearth.com/sprints/hackuiowa-1/dashboard/b41f062/submission/">details</a> 
        </p>
    </div>
    </div>
    
</div>