// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#project{
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    height:200px;
    overflow: auto;
}
#project > img{
    height:70%;
    width:20%;
    object-fit: contain;
}
